<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import UserCardLisr from "./UserCardLisr.vue";
import UserDialog from "./UserDialog.vue";
import UserLise from "./UserLise.vue";
import { mdiTable, mdiCardOutline } from "@mdi/js";

const userStore = useUserStore();
</script>

<template>
  <v-container>
    <v-row>
      <UserLise v-if="userStore.isTable" />
      <UserCardLisr v-if="!userStore.isTable" />
      <UserDialog />
    </v-row>
  </v-container>
  <v-row class="justify-center">
    <v-btn :icon="mdiTable" flat @click="userStore.isTable = true"></v-btn>
    <v-btn
      :icon="mdiCardOutline"
      flat
      @click="userStore.isTable = false"
    ></v-btn>
  </v-row>
</template>

<style scoped></style>
